$animalWidth: 90px;
$animalHeight: 90px;
$animalSpacingX: 3px;
$animalSpacingBottom: 17px;
$animalPadding: 5px;
$animalBgColor: #FFF;
$animalBtnAddBgColor: #303F9F;
$animalBtnAddHoverBgColor: #1A237E;
$animalBtnRemoveBgColor: #D32F2F;
$animalBtnRemoveHoverBgColor: #B71C1C;
$animalDeadBgColor: #9E9E9E;
$lionBgColor: #DAA520;
$wildebeestBgColor: #37474F;

.animals-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 100%;
  text-align: center;

  li {
    box-sizing: border-box;
    list-style: none;
    text-align: center;

    &.animal {
      display: inline-block;
      position: relative;
      width: $animalWidth;
      height: $animalHeight;
      margin: 0 $animalSpacingX $animalSpacingBottom;
      padding: $animalPadding;
      line-height: $animalHeight;
      vertical-align: middle;
      color: $animalBgColor;
    }

    &.lion {
      background-color: $lionBgColor;
    }

    &.wildebeest {
      background-color: $wildebeestBgColor;
    }

    &.animal.dead {
      background-color: $animalDeadBgColor;
    }

    .btn-add-remove {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      background-color: $animalBtnAddBgColor;
      z-index: 1;

      &:hover {
        background-color: $animalBtnAddHoverBgColor;
      }
    }
  }
}

.raft {
  &.crossing .animal .btn-add-remove,
  .animal .btn-add-remove .i-plus {
    display: none;
  }

  .animal .btn-add-remove {
    background-color: $animalBtnRemoveBgColor;

    &::after {
      content: attr(tooltip-remove);
    }

    &:hover {
      background-color: $animalBtnRemoveHoverBgColor;
    }
  }
}

.safe-zone, .fire-zone {
  .animals-wrapper {
    padding: 0 35px;

    .animal {
      float: left;
    }
  }

  .animal .btn-add-remove {
    &,
    .i-minus {
      display: none;
    }
  }

  &.has-raft .animal .btn-add-remove {
    display: block;
  }
}
